<div class="contents">
  <div class="log_in">
    <h2>Log in</h2>
    <p style="font-size: 14px;">登録しているユーザーでログイン</p>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="field-label">
        <%= f.label :email %><br />
      </div>
      <div>
      <%= f.email_field :email, :size=>"45", placeholder:" メールアドレス", autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field">
      <div class="field-label">
        <%= f.label :password %><br />
      </div>
      <div>
        <%= f.password_field :password, :size=>"45", placeholder:" パスワード", autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions_sign">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>


